// This file exists as a template for updating the DB.env file
// for new machines.  The DB.env is not committed to version
// control so its structure will not be available to fresh
// clones of this repository
//
// To use
//  1) copy this file and save it with name `DB.env`
//  2) replace values with information that are accurate for this system

RFS_DATABASE_NAME=rfs
RFS_DATABASE_HOST=db
RFS_DATABASE_USER=rfs
RFS_DATABASE_PASS=example
RFS_DATABASE_PORT=5432
# change RFS_DATABASE_HOST to 2345 if interacting with database/run-docker.sh

JWT_SECRET=shhhhhhh-its-a-secret