// This file exists as a template for updating the DB.env file
// for new machines.  The DB.env is not committed to version
// control so its structure will not be available to fresh
// clones of this repository
//
// To use
//  1) copy this file and save it with name `DB.env`
//  2) replace the keyword `example` with information 
//      that is accurate for this system

RFS_DATABASE_NAME=example
RFS_DATABASE_USER=example
RFS_DATABASE_PASS=example